#header {
    height: 120px;
    background: linear-gradient(-180deg,#f53d2d,#f63);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
    margin: 4px 0 0 0;

}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;
    align-items: center;
}

.header__navbar-item-has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item-link--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;  
    z-index: 2;
    align-items: center;

}

.header__navbar-icon-link {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
}

.header__navbar-icon-link:hover ,
.header__navbar-item-link:hover 
 {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    border-right: 1px solid #fb9086;
    height: 1.6rem;
    right: -9px;
    top: 0;
}

.header__navbar-item:hover .header__navbar-item-leaguage {
    display: block;
}

.header__navbar-item-leaguage {
    position: absolute;
    list-style-type: none;
    top: 113%;
    width: 170px;
    background-color: var(--white-color);
    height: 80px;
    right: -3px;
    box-shadow: 0 1px 5px rgba(189, 189, 189);
    padding-left: 0;
    display: none;
    animation: headerNotifyGrowth ease-in 0.3s;
    z-index: 2;
}

.header__navbar-item-leaguage-choice {
    display: block;
    width: 100%;
    padding-left: 0;
    list-style-type: none;
}

.header__navbar-item-leaguage-text {
    color: var(--text-color);
    left: 0;
    line-height: 40px;
    padding-left: 10px;
}

.header__navbar-item-leaguage-text--actived {
    color: var(--primary-color);
}

.header__navbar-item-leaguage-choice span:hover {
    color: var(--primary-color);

}

.header__navbar-item-leaguage::before {
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 30px;
    top: -30px;
    z-index: 2;
}


.header__navbar-icon-link {
    color: var(--white-color);
    list-style-type: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */

.header__qr {
    background-color: var(--white-color);
    width: 190px;
    left: 0;
    position: absolute;
    top: 113%;
    padding: 4px 4px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 2;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 191px;
    top: -10px;
    left: 0;
}



.header__qr-img {
    width: 100%;
    align-items: center;
}

.header__qr-apps {
    display: flex;
    padding: 10px 11px;
    justify-content: space-between;
    
}

.header__qr-download-img {
    height: 18px;
}

/* Header Notification */

.header__notify {
    position: absolute;
    top: 113%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 2;
}

.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 191px;
    top: -10px;
    right: 0;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    font-weight: 400;
    margin: 0 12px;
    font-size: 1.5rem;
    line-height: 4rem;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewd {
    background-color: rgba(238, 75, 43, 0.1);
}

.header__notify-link {
    display: flex;
    width: 100%;
    text-decoration: none;
    padding: 12px;
}

.header__notify-img {
    width: 58px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
    padding: 10px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    margin-top: 4px;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}


/* Authen modal */

.auth-form {
    overflow: hidden;
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
    
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls--back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}
.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);

}

.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -2px 16px ;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    color: var(--white-color);
    width: 150px;

}

.header__search {
    display: flex;
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    align-items: center;
}

.header__search-iput {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-iput-wrap {
    height: 100%;
    flex: 1;
    position: relative;
}

.header__cart {
    width: 148px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}


.header__cart-list {
    position: absolute;
    top: calc(100% + 7px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
    z-index: 2;
}

.header__cart-list::after {
    cursor: pointer;
    position: absolute;
    content: "";
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent  transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 28px 0;
    
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-no-cart-img {
    width: 60%;
    display: none;
}

.header__cart-list-no-cart-msg {
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    display: none;
}

.header__cart-noti {
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    border-radius: 50%;
    border: 2px solid #EE4D2D;
    line-height: 1.4rem;
    top: -4px;
    right: -4px;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;

}

.header__cart-cart-list-item {
    padding-left: 0;
    list-style-type: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    object-fit: contain;
    height: 42px;
    margin: 12px;

}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;

}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}


.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn:hover  {
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-iput:focus ~.header__search-history {
    display: block;
}

/* Search history */

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(189, 189, 189);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
    cursor: pointer;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
}

/* App container */
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style-type: none;

}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    top: 50%;
    left: 7px;
    content: "";
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    display: block;
    padding: 8px 16px;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */

.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label  {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    background-color: #fdfdfd;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;

}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
    cursor: default;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product */

.home-product-item {
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    cursor: pointer;
}

.home-product-item__img {
    width: 100%;
    height: 100%;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 10px 10px 6px;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-vnd {
    color: var(--primary-color);
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__price-delivery {
    display: inline-block;
    margin: 0 10px;
}

.home-product-item__price-delivery-icon {
    font-size: 1.3rem;
    color: rgb(0, 191, 165);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #F63D30;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    color: #D5D5D5;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color) ;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__origin-name {
    margin-left: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px ;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgb(255, 216, 64, 0.95);
    text-align: center;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.95);
    border-color: transparent currentColor transparent currentColor ;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    top: -1px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    top: -10px;
    font-weight: 600;
}